node_modules
.next
out
.env*.local
.env
.env.python
venv/
*.pyc
__pycache__/
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.log
*.tmp
thumbs.db
*.pem
*.key

DOCS/*
DOCS

test-results/*